<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sehatapp.alarmmanager">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:name="com.sehatapp.alarmmanager.AlarmApplication"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name="com.sehatapp.alarmmanager.MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.sehatapp.alarmmanager.BatteryWebViewActivity"
                  android:theme="@style/AppTheme.NoActionBar"/>
        <receiver android:name="com.sehatapp.alarmmanager.AlarmReceiver"/>
        <receiver android:name="com.sehatapp.alarmmanager.BootReceiver"
                  android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="${applicationId}.com.sehatapp.alarmmanager.provider"
                  android:name="com.sehatapp.alarmmanager.provider.GenericFileProvider"
                  android:exported="false"
                  android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>